<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SY Hospital</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="css/templatemo-medic-care.css" rel="stylesheet" />
    <!-- TemplateMo 566 Medic Care -->
  </head>

  <body id="top">
    <main>
      <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
          <a class="navbar-brand mx-auto d-lg-none" href="/">
            SY Hospital
            <strong class="d-block">Hospital Management System</strong>
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <a class="navbar-brand d-none d-lg-block" href="/">
                SY Hospital
                <strong class="d-block">Hospital Management System</strong>
              </a>
            </ul>
          </div>
        </div>
      </nav>

      <section>
        <div class="container">
          <div class="row">
            <header>
              <h1>{{title}}</h1>
            </header>

            <h2>{{title1}}</h2>
{{!-- Doctor table !!  --}}
            {{#if doctor}}
              <table>
                <tr>
                  <th>Id</th>
                  <th>DoctorId</th>
                  <th>PatientId</th>
                  <th>PatientName</th>
                  <th>ExamDate</th>
                  <th>Details</th>
                </tr>
                {{!-- Exmaination Update --}}
                {{#each examination}}
                  <tr>
                    <form method="post" action="/employee/updateExamination">
                      <td>{{ExaminationId}}</td>
                      <td style="display: none"><input
                          type="text"
                          name="ExaminationId"
                          value={{ExaminationId}}
                        /></td>
                      <td>{{DoctorId}}</td>
                      <td style="display: none"><input
                          type="text"
                          name="DoctorId"
                          value={{DoctorId}}
                        /></td>
                      <td><input
                          type="text"
                          name="PatientId"
                          value="{{PatientId}}"
                        /></td>
                        <td>{{PatientName}}</td>
                      <td><input
                          type="text"
                          name="ExamDate"
                          value="{{ExamDate}}"
                        /></td>
                      <td><input
                          type="text"
                          name="Details"
                          value="{{Details}}"
                        /></td>
                      <td><input type="submit" value="Update" /></td>
                    </form>
                    <td>
                      <form method="post" action="/employee/deleteExamination">
                        <input
                          type="hidden"
                          name="ExaminationId"
                          value={{ExaminationId}}
                        />
                        <input type="submit" value="Delete" />
                      </form>
                    </td>
                  </tr>
                {{/each}}
                <tr>
                  {{!-- Examination 추가 (Add) --}}
                  <form method="post" action="/employee/addExamination">
                  <td><input
                        type="hidden"
                        name="ExaminationId"
                        value=""
                      /></td>
                    <td><input type="hidden" name="DoctorId" value="" /></td>
                    <td><input type="text" name="PatientId" value="" /></td>
                    <td><input type="hidden" name="PatientName" vlalue=""/></td>
                    <td><input type="text" name="ExamDate" value="" /></td>
                    <td><input type="text" name="Details" value="" /></td>
                    <td colspan="2">
                      <input type="submit" value="Add" />
                    </td>
                  </form>
                </tr>
              </table>

            {{/if}}

{{!-- NURSE --}}
            {{#if nurse}}
              <table>
                <tr>
                  <th>Id</th>
                  <th>NurseId</th>
                  <th>PatientId</th>
                  <th>PatientName</th>
                  <th>TreatTime</th>
                   <th>Details</th>
                </tr>
                {{#each treatment}}
                  <tr>
                    {{!-- Treatment Table 정보 수정 (Update) --}}
                    <form method="post" action="/employee/updateTreatment">
                      <td>{{TreatmentId}}</td>
                      <td style="display: none"><input
                          type="text"
                          name="TreatmentId"
                          value={{TreatmentId}}
                        /></td>
                      <td>{{NurseId}}</td>
                      <td style="display: none"><input
                          type="text"
                          name="NurseId"
                          value={{NurseId}}
                        /></td>
                      <td><input
                          type="text"
                          name="PatientId"
                          value="{{PatientId}}"
                        /></td>
                        <td>{{PatientName}}</td>
                      <td><input
                          type="text"
                          name="TreatTime"
                          value="{{TreatTime}}"
                        /></td>
                      <td><input
                          type="text"
                          name="Details"
                          value="{{Details}}"
                        /></td>
                      <td><input type="submit" value="Update" /></td>
                    </form>
                    <td>
                      <form method="post" action="/employee/deleteTreatment">
                        <input
                          type="hidden"
                          name="TreatmentId"
                          value={{TreatmentId}}
                        />
                        <input type="submit" value="Delete" />
                      </form>
                    </form>
                  </tr>
                {{/each}}
                {{!-- Treatment 데이터 삽입 --}}
                 <tr>
                  <form method="post" action="/employee/addTreatment">
                    <td><input type="hidden" name="NurseId" value="" /></td>
                    <td><input
                        type="hidden"
                        name="TreatmentId"
                        value=""
                      /></td>
                    <td><input type="text" name="PatientId" value="" /></td>
                    <td><input type="hidden" name="PatientName" vlalue=""/></td>
                    <td><input type="text" name="TreatTime" value="" /></td>
                    <td><input type="text" name="Details" value="" /></td>
                    <td colspan="2">
                      <input type="submit" value="Add" />
                    </td>
                  </form>
                </tr>
              </table>
            {{/if}}

          </div>
          <div class="row">
            <h2>{{title2}}</h2>
            
            <table>
              <tr>
                <td>PatientId</td>
                <td>DoctorId</td>
                <td>NurseId</td>
                <td>Name</td>
                <td>SocialSecurityNum </td>
                <td>Gender</td>
                <td>Address</td>
                <td>BloodType</td>
                <td>Height</td>
                <td>Weight</td>
                <td>PhoneNumber</td>
              </tr>
              {{#each patient}}
                <tr>
                  <td>{{PatientId}}</td>
                  <td>{{DoctorId}}</td>
                  <td>{{NurseId}}</td>
                  <td>{{Name}}</td>
                  <td>{{SocialSecurityNum}} </td>
                  <td>{{Gender}}</td>
                  <td>{{Address}}</td>
                  <td>{{BloodType}}</td>
                  <td>{{Height}}</td>
                  <td>{{Weight}}</td>
                  <td>{{PhoneNumber}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </section>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- TemplateMo 566 Medic Care -->
  </body>

</html>