<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SY Hospital</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/templatemo-medic-care.css" rel="stylesheet">
    <!-- TemplateMo 566 Medic Care -->
</head>

<body id="top">
    <main>
 <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">
                <a class="navbar-brand mx-auto d-lg-none" href="/">
                    SY Hospital
                    <strong class="d-block">Hospital Management System</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <a class="navbar-brand d-none d-lg-block" href="/">
                            SY Hospital
                            <strong class="d-block">Hospital Management System</strong>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="section-padding" id="about">
            <div class="container">
                <div class="row">
                    <h1>{{ title }}</h1>
                    <div class="col-lg-6 col-md-6 col-12">
                        <h2>{{ title1 }}</h2>
                        <table>
                            <tr>
                                <td>DoctorId</td>
                                <td>DepartmentId</td>
                                <td>Department</td>
                                <td>Name</td>
                                <td>Address</td>
                                <td>PhoneNumber</td>
                            </tr>
                            {{#each doctor}}
                            <tr>
                            <form method="post" action="/manager/updateDoctor">
                                <td>{{DoctorId}}</td>
                                <td style="display: none"><input type="text" name="DoctorId" value={{DoctorId}}></td>
                                <td><input type="text" name="DepartmentId" value={{DepartmentId}}></td>
                                <td>{{Department}}</td>
                                <td><input type="text" name="Name" value="{{Name}}"></td>
                                <td><input type="text" name="Address" value="{{Address}}"></td>
                                <td><input type="text" name="PhoneNumber" value="{{PhoneNumber}}"></td>
                                <td>
                                        <input type="submit" value="Update">
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="/manager/deleteDoctor">
                                        <input type="hidden" name="DoctorId" value={{DoctorId}}>
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                            {{/each}}

                            <tr>
                <form method="post" action="/manager/addDoctor">
                    <td><input type="text" name="DoctorId" value=""></td>
                    <td><input type="text" name="DepartmentId" value=""></td>
                    <td><input type="hidden" name="Department" value=""></td>
                    <td><input type="text" name="Name" value=""></td>
                    <td><input type="text" name="Address" value=""></td>
                    <td><input type="text" name="PhoneNumber" value=""></td>
                    <td colspan="2">
                        <input type="submit" value="Add">
                    </td>
                </form>
            </tr>
                        </table>
                    </div>                 
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <h2>{{ title2 }}</h2>
                        <table>
                            <tr>
                                <td>NurseId</td>
                                <td>DepartmentId</td>
                                <td>Department</td>
                                <td>Name</td>
                                <td>Address</td>
                                <td>PhoneNumber</td>
                            </tr>
                            {{#each nurse}}
                            <tr>
                                <td>{{NurseId}}</td>
                                <td style="display: none"><input type="text" name="NurseId" value={{NurseId}}></td>
                                <td><input type="text" name="DepartmentId" value={{DepartmentId}}></td>
                                <td>{{Department}}</td>
                                <td><input type="text" name="Name" value="{{Name}}"></td>
                                <td><input type="text" name="Address" value="{{Address}}"></td>
                                <td><input type="text" name="PhoneNumber" value="{{PhoneNumber}}"></td>
                                <td>
                                    <form method="post" action="/manager/updateNurse">
                                        <input type="hidden" name="NurseId" value={{NurseId}}>
                                        <input type="submit" value="Update">
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="/manager/deleteNurse">
                                        <input type="hidden" name="NurseId" value={{NurseId}}>
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                                                        <tr>
                <form method="post" action="/manager/addNurse">
                    <td><input type="text" name="NurseId" value=""></td>
                    <td><input type="text" name="DepartmentId" value=""></td>
                    <td><input type="hidden" name="Department" value=""></td>
                    <td><input type="text" name="Name" value=""></td>
                    <td><input type="text" name="Address" value=""></td>
                    <td><input type="text" name="PhoneNumber" value=""></td>
                    <td colspan="2">
                        <input type="submit" value="Add">
                    </td>
                </form>
            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- TemplateMo 566 Medic Care -->
</body>
</html>
